# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

6f4a0-fca2a 
cdd7c-c5dab 
2c4da-ff81f 
13266-78102 
9a137-01799 
1351f-885ef 
47b84-c551e 
1eb05-bcd63 
d4b39-ec9d2 
fdd18-a82d5 
8e927-e0c1e 
71a13-d81e1 
b302b-a09e9 
cf879-0fe6b 
1e479-8bfae 
d1373-ddabc

7543d-d4505
e750d-27963
83eb6-70e63
9678c-3113b
8b4fc-a10e9
2ccd9-06605
4f0ae-9366b
17f68-15bd9
bbb5e-65384
d3e11-3d396
bf988-5df5d
db8ec-fd553
dc664-9a052
3a311-2246c
09e3c-c4835
c01bf-bbe60
